.popup__button {
    margin: 48px 0 0 0;
    background: #000000;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    color: white;
    outline: none;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.popup__button:hover {
    opacity: 0.8;
}

.popup__button:disabled {
    color: #000000;
    background: #E5E5E5;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 767px) {
    .popup__button {
        max-width: 238px;
        height: 46px;
        margin: 45px 0 0 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}