.profile__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
    }
}