.card__remove {
    background-image: url(../../../images/trash.svg);
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 20px;
    border: none;
    display: none;
}

.card__remove:hover {
    opacity: .5;
    cursor: pointer;
}