.footer {
    max-width: 880px;
    display: flex;
    margin: 0 auto 60px auto;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .footer {
        width: 880px;
    }
}

@media screen and (max-width: 1279px) {
    .footer {
        width: 840px;
        margin: 0 auto 60px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 580px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: 282px;
        margin: 48px 19px 36px;
    }
}