.profile__button-edit {
    background-image: url(../../../images/edit_button.svg);
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #fff;
    align-self: center;
    padding: 0;
    background-color: Transparent;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    outline: none;
}

.profile__button-edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        padding: 9px;
    }
}

@media screen and (max-width: 475px) {
    .profile__button-edit  {
        margin-left: 10px;
        min-width: 18px;
        min-height: 18px;
    }
}