.card {
    max-width: 282px;
    height: auto;
    margin: 0 17px 20px 0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card:nth-child(3n) {
    margin-right: 0;
}

@media screen and (min-width:1280px) {
    .card {
        width: 282px;
    }
}

@media screen and (max-width: 1279px) {
    .card {
        width: 270px;
        margin: 0 15px 20px 0;
    }
}

@media screen and (max-width: 1023px) {
    .card {
        width: 240px;
    }
    .card:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 320px;
        margin: 0 0 20px 19px;
    }
    .card:nth-child(1n) {
        margin-bottom: 19px;
    }
    .card:last-child {
        margin-bottom: 0;
    }
}