.popup__container {
    position: absolute;
    max-width: 430px;
    min-width: 380px;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 10px;
    transition: .2s;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: black;
    padding: 34px 36px 37px 36px;
    z-index: 2;
    height: 330px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
    }
}