.popup__input {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    padding: 0 0 13px;
    border: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.popup__input:first-of-type {
    margin-bottom: 30px;
}

.popup__input:focus:invalid {
    color: #e53e3e;
    outline: none;
}