@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/container/container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_name/popup__input_name.css);
@import url(./blocks/popup/__input/_about/popup__input_about.css);
@import url(./blocks/popup/__input/_place/popup__input_place.css);
@import url(./blocks/popup/__input/_image/popup__input_image.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup-profile/popup-profile.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__info-block/profile__info-block.css);
@import url(./blocks/profile/__edit-image/profile__edit-image.css);
@import url(./blocks/profile/__add-image/profile__add-image.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/card/__text/card__text.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/popup/__close-image/popup__close-image.css);
@import url(./blocks/popup-add/popup-add.css);
@import url(./blocks/card/__remove/card__remove.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/popup-image/__content/popup-image__content.css);
@import url(./blocks/popup-image/__caption/popup-image__caption.css);
@import url(./blocks/popup-image/__container/popup-image__container.css);
@import url(./blocks/popup-image/__close-btn/popup-image__close-btn.css);
@import url(./blocks/popup-image/__title/popup-image__title.css);
@import url(./blocks/popup-image/__title/_image/popup-image__title_image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__message/popup__message.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__button/_inactive/popup__button_inactive.css);
@import url(./blocks/popup/__place-error/popup__place-error.css);
@import url(./blocks/popup/__link-error/popup__link-error.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/_place/popup__input-error_place.css);
@import url(./blocks/popup/__input-error/_image/popup__input-error_image.css);
@import url(./blocks/popup/__input-error/_name/popup__input-error_name.css);
@import url(./blocks/popup/__input-error/_about/popup__input-error_about.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__container-avatar/profile__container-avatar.css);
@import url(./blocks/popup/__close-hover/popup__close-hover.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form-submit/popup__form-submit.css);
@import url(./blocks/popup-update-avatar/popup-update-avatar.css);
@import url(./blocks/card/__likes-counter/card__likes-counter.css);
@import url(./blocks/card/__image-block/card__image-block.css);
@import url(./blocks/card/__likes-count/card__likes-count.css);
@import url(./blocks/card/__like-wrap/card__like-wrap.css);
@import url(./blocks/profile/__avatar-block/profile__avatar-block.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/popup-confirm/popup-confirm.css);
@import url(./blocks/popup/__container/_confirm/popup__container_confirm.css);
@import url(./blocks/popup/__title-confirm/popup__title-confirm.css);
@import url(./blocks/popup/__form-submit/_confirm/popup__form-submit_confirm.css);
@import url(./blocks/popup/__section/popup__section.css);
@import url(./blocks/popup/__form-submit/_avatar/popup__form-submit_avatar.css);
@import url(./blocks/popup/__container/_avatar/popup__container_avatar.css);
@import url(./blocks/popup/__input-error/_avatar/popup__input-error_avatar.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__button-submit/popup__button-submit.css);
@import url(./blocks/card/__remove/_hidden/card__remove_hidden.css);
@import url(./blocks/card/__remove/_visible/card__remove_visible.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__user-info/header__user-info.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__address/header__address.css);
@import url(./blocks/header/__navigation/header__navigation.css);
@import url(./blocks/header/__button-close/header__button-close.css);
@import url(./blocks/header/__button-open/header__button-open.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__menu/_visible/header__menu_visible.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__email/_menu/header__email_menu.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_menu/header__link_menu.css);
@import url(./blocks/header/__menu/_visible/header__menu_visible.css);
@import url(./blocks/auth/__info/auth__info.css);
@import url(./blocks/auth/__text/auth__text.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__item/auth__item.css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__link/auth__link.css);
@import url(./blocks/auth/__button-submit/auth__button-submit.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__footer/register__footer.css);
@import url(./blocks/register/__footer-link/register__footer-link.css);
@import url(./blocks/popup/_fade-in/popup_fade-in.css);
@import url(./blocks/popup/_fade-out/popup_fade-out.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__icon/popup__icon.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__submit-btn/form__submit-btn.css);
@import url(./blocks/form/__submit-btn/_type/form__submit-btn_type_auth.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_auth.css);
@import url(./blocks/form/__header/form__header.css);
@import url(./blocks/form/__header/_type/form__header_type_auth.css);
@import url(./blocks/auth/__header/auth__header.css);


@import url(./blocks/auth/__form/auth__form.css);

@import url(./blocks/menu/menu.css);
@import url(./blocks/menu/_type/menu_type.css);
@import url(./blocks/menu/_opened/menu_opened.css);
@import url(./blocks/menu/__user-info/menu__user-info.css);
@import url(./blocks/menu/__link/menu__link.css);
@import url(./blocks/info/info.css);
@import url(./blocks/info/__image/info__image.css);
@import url(./blocks/info/__caption/info__caption.css);