.header {
    max-width: 880px;
    display: flex;
    margin: 45px 200px 0px;
    justify-content: space-between;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 1280px) {
    .header {
        width: 880px;
    }
}

@media screen and (max-width: 1279px) {
    .header {
        width: 840px;
        margin: 45px auto 0px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 320px;
        margin: 28px 0 0;
    }
}