.popup {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    display: flex;
    right: 0;
    bottom: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transition: all .5s linear;
    visibility: hidden;
    opacity: 0;
}